<div class="beer-card">
<img src="{{this.image_url}}" alt="">
    <div class="beer-txt">
        <h2>{{this.name}}</h2>
            <div class="beer-text">
            <p class="desc">{{this.description}}</p>
            <p class="tag">{{this.tagline}}</p>
    </div>
    </div>
</div>