/*
white: #f7f9f9;
light-blue: #2081c3;
dark-blue: #0a2c42;
grey: #bfbfbf;
font-family: Arial, Helvetica, sans-serif;
*/

* {
margin: auto 0;
padding: 0;
font-family: Arial, Helvetica, sans-serif;
color:#0a2c42;
}

nav {
    background-color:#2081c3;
    display: flex;
    flex-flow: nowrap;
}

nav > a {
   text-decoration: none;
   color: #f7f9f9;
   padding: 30px;
}

.main {
    margin: 100px;
    display: flex;
    flex-flow: column;
    align-items: center;
}

.main > a {
    text-decoration: none;
    background-color: #2081c3;
    color: #f7f9f9;
    padding: 15px;
    margin: 15px;
    border-radius: 5px;
}

.beer-graph {
width: 200px;
height: 200px;
}

.beer-card {
    display: flex;
}
.beer-card > img {
    height: 250px;
    margin: 100px;
    display: flex;
}
.beer-txt > a{
text-decoration: none;
margin: 10px;
}


.tag{
color: #bfbfbf;
margin: 10px; 
}

.desc{
    margin: 10px;
}